.feed-title-li {
    width: 350px;
}

.feed-date-li {
    width: 350px;
    font-size: 12px;
    color: darkgray
}

a {
    color: black;
    text-decoration: none;
}

.feed-ul {
    display: grid;
    grid-template-rows: 3;
    
}