.home-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.portfolio-value-container {
    grid-row: 1;
    grid-column: 1 / 4;
}

.news-feed-container {
    grid-row: 2;
    grid-column: 1 / 2   
}

.home-profile-container {
    grid-row: 2;
    grid-column: 2 / 4;
}