.profile-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(40px, auto);
}

.profile-pie {
    grid-column: 1;
    grid-row: 1;
}

.profile-info {
    grid-column: 3;
    grid-row: 1;
}

.profile-wallet {
    grid-column: 3;
    grid-row: 1;
}

.profile-change {
    grid-column: 2;
    grid-row: 1;
}

.profile-performance {
    grid-column: 1 / 4;
    grid-row: 3;
}

.profile-all-stock {
    grid-column: 1 / 4;
    grid-row: 4;
    margin-top: -100px;
}



.th-buy-price {
    color: darkgray
}

.th-price {
    color: darkgray
    
}

.th-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    margin-left: 250px;
    /* background-color: darkgray; */
}




.history-span {
    height: 1px;
    width: 1200px;
    background-color: dodgerblue;
    margin-left: 120px;
    
}
/* .deposit-button, .withdraw-button{
    width: 140px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    border-width: 0px 2px;
    
    background-color: white;
    border-style: solid;
} */
/* .withdraw-button{
    border-color: red;
    color: red;   
} */

/* .deposit-button {
    border-color: green;
    color: green;
    margin-right: 20px;
} */

.wallet-form {
    text-align: center;
    font-family: 'Montserrat', 'sans-serif'
}

.wallet-input {
    width: 300px;
    height: 30px;
    background-color: white;
    margin-bottom: 5px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-color: darkgray;
    text-align: center;
    font-size: 20px;
}

.wallet-total-cash {
    font-size: 20px;
}

.main1 {
    /* background-color: #262626; */
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-inline-end: 10; */
  }

  .button {
    position: relative;
    display: block;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #1c89ff;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
  }
    .button:hover,
    .button:focus {
        background: var(--secondary-color);
        color: var(--primary-color);
        box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.24),
          0 5px 40px 0 rgba(0, 0, 0, 0.19);
        transition: 0.3s;
    }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent; 
    margin: 30px auto 0 auto;
    border: solid 2px #424242;
    border-top: solid 2px #1c89ff;
    border-radius: 50%;
    opacity: 0;
    margin-top: 15px
  }
  .check {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate3d(-4px,50px,0);
    opacity: 0;
  }
    span:nth-child(1) {
      display: block;
      width: 10px;
      height: 2px;
      background-color: dodgerblue;
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      display: block;
      width: 20px;
      height: 2px;
      background-color: dodgerblue;
      transform: rotate(-45deg) translate3d(14px, -4px, 0);
      transform-origin: 100%;
    }
  .loader.active {
    animation: loading 2s ease-in-out; 
    animation-fill-mode: forwards;
  }
  .check.active {
    opacity: 1;
    transform: translate3d(-4px,4px,0);
    transition: all .5s cubic-bezier(.49, 1.74, .38, 1.74);
    transition-delay: .2s;
  }
  @keyframes loading {
    30% {
      opacity:1; 
    }
    85% {
      opacity:1;
      /* transform: rotate(1080deg); */
      border-color: #262626;
    }
    100% {
      opacity:1;
      /* transform: rotate(1080deg); */
       border-color: #1c89ff;
    }
  }


