.buy-submit-button {
    width: 100px;
    /* background-color: green; */
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    border-width: 0px 2px;
    border-color: green;
    color: green;
    background-color: white;
    border-style: solid;
}

.buy-submit-button:hover {
    border-width: 0px 4px;
}


.stock-buy-input {
    text-align: center;
    font-size: 20px;
    width: 50px;
    border-style: solid;
    border-bottom-style: solid;
    padding: 5px;
    margin-bottom: 10px;
    border-color: lightgray;
    border-radius: 4px;
}

.form-label {
    color: darkgray;
    font-size: 24px;
    margin-bottom: 10px;
}

