.pop-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(20px, auto);
    align-items: center;
    width: 800px;   
    margin-left: 100px; 
}

.pop-span {
    width: 600px;
    height: 1px;
    margin-top: 0px;
    margin-left: 120px;
    background-color: dodgerblue;
}

.popular-ul {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(20px, auto);
    align-items: center;
    justify-content: center;
}

.pop-price-change-container {
    grid-column: 3;
    margin-left: -50px;
}

.pop-symbol {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 15px;
}
.pop-name {
    margin-top: 27px;
    grid-column: 1;
    grid-row: 1;
    color: darkgray
}

.pop-price {
    grid-column: 2;
    grid-row: 1;
    color: dodgerblue;
    margin-left: 20px;
}

.pop-change-li {
    grid-column: 3;
    grid-row: 1;
}

.pop-change-symbol {
    grid-column: 3;
    grid-row: 1;
}

.pop-price-change-container{
    display: flex;
}

.popular-container {
    margin-left: 300px;
}

.stock-display-container {
    display: flex;
    margin-top: -90px;
}

.candlestick-container {
    text-align: center;
    margin-left: 20px;   
    margin-top: 100px;
}

.search-display-container {
    font-family: 'Montserrat', sans-serif;
    margin-left: 40px;
    margin-top: 100px;
}

.display-stock-price {
    color: dodgerblue;
    text-align: center;
    margin-left: -0px;
    font-size: 20px;
    margin-top: 40px;
}

.buy-button {
    border-color: dodgerblue;
    border-width: 0px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    transition: border-width 0.1s linear;
    background-color: white;
    color: dodgerblue;
}


.buy-button-container {
    text-align: center;
    left: 200px;
}

.search-container {
    max-height:180px;
}


.buy-form-container {
    position: absolute;
    left: 1120px;
    top: 420px;
    text-align: center;
    font-size: 18px;
    
}

.animate {
    animation-name: scroll;
    animation-duration: 30s;
}

.pop-header {
    font-family: 'Montserrat', 'sans-serif';
    color: darkgray;
    text-align: center;
}

.test {
    font-size: 20px;
    font-family: 'Montserrat', 'sans-serif';
}

.display-stock-ul {
    text-align: center;
    align-items: center;
}

.buy-amount {
    font-size: 20px;
    font-family: 'Montserrat', 'sans-serif';  
     margin-bottom: 50px;
}



